<h1>Formulaire</h1>
<div class='container-fluid'>
<form name="form2" novalidate>
<h4>Preneur</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-repeat="gamerName in form.gamerNames" ng-model="form.taker" btn-radio="gamerName">{{gamerName}}</label>
</div>
</div>

<div ng-if="form.gamerNames.length == 5">
<h4>Partenaire</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-model="form.partner" btn-radio="''">Personne</label>
	<label class="btn btn-default" ng-repeat="gamerName in form.gamerNames" ng-model="form.partner" btn-radio="gamerName">{{gamerName}}</label>
</div>
</div>
</div>


<h4>Contrat</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-repeat="bid in tarot.bids" ng-model="form.bid" btn-radio="bid.label">{{bid.label}}</label>
</div>
</div>

<h4>Nombre de bouts</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-repeat="oudler in tarot.oudlers" ng-model="form.treshold" btn-radio="oudler.treshold">{{oudler.label}}</label>
</div>
</div>

<h4>Nombre de points</h4>
<div class="form-group">
<input type="tel" ng-model="form.points" class="form-control" name="points" min="0" max="91" integer />
<span ng-show="form2.points.$error.integer">This is not valid integer!</span>
<span ng-show="form2.points.$error.min || form.size.$error.max">The value must be in range 0 to 91!</span>
</div>

<h4>Petit au bout</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-model="form.smallAtEnd" btn-radio="''">Personne</label>
	<label class="btn btn-default" ng-model="form.smallAtEnd" btn-radio="'A'">Attaque</label>
	<label class="btn btn-default" ng-model="form.smallAtEnd" btn-radio="'D'">Défense</label>
</div>
</div>

<h4>Poignée</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-model="form.handful" btn-radio="0">Personne</label>
	<label class="btn btn-default" ng-repeat="handful in tarot.handfuls" ng-model="form.handful" btn-radio="handful.points">{{handful.label}} ({{handful.values[form.gamerNames.length]}} atouts)</label>
</div>
</div>

<h4>Misère</h4>
<div class="form-group">
<div class="btn-group">
	<label class="btn btn-default" ng-model="form.misery" btn-radio="''">Personne</label>
	<label class="btn btn-default" ng-repeat="gamerName in form.gamerNames" ng-model="form.misery" btn-radio="gamerName">{{gamerName}}</label>
</div>
</div>
 

<div class="form-group">
	<a class="btn btn-default" href="#/scores">Revenir aux scores</a>
	<a class="btn btn-primary" href="#/validation" ng-disabled="form2.$invalid">Validation</a>
</div>
</form>
</div>
<button class="btn btn-link" ng-click="isCollapsed = !isCollapsed">Debug</button>
<pre collapse="!isCollapsed">{{form | json}}</pre>
