
<h1>Scores</h1>
<div class='container-fluid'>
	<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
			<th ng-repeat="gamerName in scores.gamerNames">{{gamerName}}</th>
		</tr>
		<tr ng-repeat="score in scores.scores">
			<td ng-repeat="s in score.scores">
				<span ng-if="s.name == score.name && s.total > 0" class="label label-success">{{s.total}}</span>
				<span ng-if="s.name == score.name && s.total <= 0" class="label label-danger">{{s.total}}</span>
				<span ng-if="s.name != score.name" class="label">{{s.total}}</span>
			</td>
		</tr>
		<tfoot>
			<tr>
				<th ng-repeat="gamerName in scores.gamerNames">
					<span ng-if="scores.total[gamerName] > 0" class="label label-success">{{scores.total[gamerName]}}</span>
					<span ng-if="scores.total[gamerName] <= 0" class="label">{{scores.total[gamerName]}}</span>
				</th>
			</tr>
		</tfoot>
	</table>
	</div>

<div class="form-group">
	<a class="btn btn-default" href="#/">Abandonner</a>
	<a class="btn btn-primary" href="#/form">Ajouter une partie</a>
</div>
</div>
<button class="btn btn-link" ng-click="isCollapsed = !isCollapsed">Debug</button>
<pre collapse="!isCollapsed">{{scores | json}}</pre>
