<h1>Commencer une nouvelle partie</h1>
<div class='container-fluid'>
	<form name="form" ng-submit="submit()" novalidate>
		<h4>Tarot à</h4>
		<div class="form-group text-center">
			<div class="btn-group btn-group-lg">
				<button class="btn btn-default" type="button" ng-click="gamerNames.count = 3">3</button>
				<button class="btn btn-default" type="button" ng-click="gamerNames.count = 4">4</button>
				<button class="btn btn-default" type="button" ng-click="gamerNames.count = 5">5</button>
			</div>
		</div>
		
		<div ng-show="error && error != ''" class="alert-danger alert">
		{{error}}
		</div>
		
		<div ng-show="gamerNames.count != 0">
			<h4>Nom des joueurs</h4>
			
			<div class="form-group">
				<input type="text" class="form-control" ng-model="gamerNames.names[0].name" name="name0" required/>
				<div ng-show="form.name0.$dirty && form.name0.$invalid">Invalid:
					<span ng-show="form.name0.$error.required">Tell us your email.</span>
				</div>
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" ng-model="gamerNames.names[1].name" name="name1" required/>
				<div ng-show="form.name1.$dirty && form.name1.$invalid">Invalid:
					<span ng-show="form.name1.$error.required">Tell us your email.</span>
				</div>
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" ng-model="gamerNames.names[2].name" name="name2" required/>
				<div ng-show="form.name2.$dirty && form.name2.$invalid">Invalid:
					<span ng-show="form.name2.$error.required">Tell us your email.</span>
				</div>
			</div>
			
			<div class="form-group" ng-if="gamerNames.count > 3">
				<input type="text" class="form-control" ng-model="gamerNames.names[3].name" name="name3" required/>
				<div ng-show="form.name3.$dirty && form.name3.$invalid">Invalid:
					<span ng-show="form.name3.$error.required">Tell us your email.</span>
				</div>
			</div>
			
			<div class="form-group" ng-if="gamerNames.count == 5">
				<input type="text" class="form-control" ng-model="gamerNames.names[4].name" name="name4" required/>
				<div ng-show="form.name4.$dirty && form.name4.$invalid">Invalid:
					<span ng-show="form.name4.$error.required">Tell us your email.</span>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn btn-primary" ng-disabled="form.$invalid">Commencer</button>
			</div>
		</div>
	
	</form>
</div>
<button class="btn btn-link" ng-click="isCollapsed = !isCollapsed">Debug</button>
<pre collapse="!isCollapsed">{{gamerNames | json}}</pre>
