
<h1>Résultat</h1>
<div class='container-fluid'>
<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
			<th></th>
			<th ng-repeat="gamer in stage.scores">{{gamer.name}}</th>
		</tr>

		<tr>
			<td>Contrat</td>
			<td ng-repeat="gamer in stage.scores">{{gamer.isTaker ?
				stage.bid.label + ' (x ' + stage.bid.multiplier + ')' : ''}}</td>
		</tr>
		<tr>
			<td>Points faits</td>
			<td ng-repeat="gamer in stage.scores">
				{{gamer.isTaker ? stage.donePoints + ' (' + stage.treshold + ')' : ''}}</td>
		</tr>
		<tr>
			<td>Résultat</td>
			<td ng-repeat="gamer in stage.scores">
				<span ng-if="(gamer.isTaker || gamer.isPartner) && stage.points >= 0" class="label label-success">Réussi : {{stage.points}} points</span>
				<span ng-if="(gamer.isTaker || gamer.isPartner) && stage.points < 0" class="label label-danger">Chuté : {{stage.points}} points</span>
			</td>
		</tr>
		
		<tr>
			<td>Points</td>
			<td ng-repeat="gamer in stage.scores">
				{{gamer.points}}
			</td>
		</tr>
		<tr>
			<td>Petit au bout</td>
			<td ng-repeat="gamer in stage.scores">
				{{gamer.small}}
			</td>
		</tr>
		<tr>
			<td>Poignée</td>
			<td ng-repeat="gamer in stage.scores">
				{{gamer.handful}}
			</td>
		</tr>
		<tr>
			<td>Misère</td>
			<td ng-repeat="gamer in stage.scores">
				{{gamer.misery}}
			</td>
		</tr> 
		<tr>
			<td>Total</td>
			<td ng-repeat="gamer in stage.scores">
				<span ng-if="gamer.total >= 0" class="label label-success">{{gamer.total}}</span>
				<span ng-if="gamer.total < 0" class="label label-danger">{{gamer.total}}</span>
			</td>
		</tr>
		
	</table>
	</div>
<div class="form-group">
	<a class="btn btn-default" href="#/form">Modifier</a>
	<a class="btn btn-primary" ng-click="addScore()" href="#/scores">Valider</a>
</div>
</div>
<button class="btn btn-link" ng-click="isCollapsed = !isCollapsed">Debug</button>
<pre collapse="!isCollapsed">{{stage | json}}</pre>
